<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-narrow">
        <div>
            <ul class="nav nav-pills pull-right">
                <li id="login" class="dropdown">

                    <a class="" data-toggle="dropdown" href="#">Login</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            @Html.Partial("_Login", new LoginViewModel())
                        </li>
                    </ul>
                </li>
            </ul>
            <h3 class="muted">Event organizer</h3>
        </div>
        <hr>
        <div id="body">
            @RenderBody()
        </div>
        <hr>

        <div>
            <p>&copy; Work4Food @DateTime.Now.Date.Year</p>
        </div>
        @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery.val")
        @RenderSection("scripts", required: false)
    </div>
    <script type="text/javascript">
        $('#login').popover({})
    </script>
</body>
</html>
